@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-main);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}


/* Dark theme (default) */
.dark {
  --bg-main: #020617;
  --bg-card: #0f172a;
  --border-main: #1f2937;

  --text-primary: #f8fafc;
  --text-muted: #9ca3af;
  --text-positive: #22c55e;
  --text-negative: #ef4444;
}

/* Light theme */
.light {
  --bg-main: #f8fafc;
  --bg-card: #ffffff;
  --border-main: #d1d5db;

  --text-primary: #020617;
  --text-muted: #475569;
  --text-positive: #16a34a;
  --text-negative: #dc2626;
}
